.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 21.12vw;
  input {
    padding: 0 0 0 20px;
    border: none;
    margin-top: 36px;
    background-color: #fff;
    border-radius: 6px;
    width: 19.82vw;
    height: 7.21vh;
    margin-top: 11px;
    color: #4b4b4b;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    &:focus {
      outline: none;
      box-shadow: 0 0 5px #4b4b4b;
    }
  }
}
