.promo {
  min-height: 620px;
  padding: 24px 0 83px 0;
  background: url(../images/header_bg.png) center (center/cover) no-repeat;
  &__wrapper {
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    &__title__block {
      padding: 20px;

    }
    &__subtitle__block {
      padding: 20px;

    }
  }
  &__title {
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 100% */
    text-transform: uppercase;
  }
  &__subtitle {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 100% */
    text-transform: uppercase;
  }
  &__icons {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    span {
      margin-top: 20px;
      display: block;
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px; /* 100% */
    }
  }
  &__icon {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &__link {
    margin-top: 10px;
    color: #fff;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    a {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
    }
  }
}
